<section class="container mx-auto p-10 md:p-20 antialiased">
    <h1 class="text-3xl font-bold mb-8 text-center">Produtos Disponíveis</h1>

    <!-- Lista de Produtos -->
    <div class="flex flex-wrap justify-center gap-6">
        @foreach (var produto in Model)
        {
        <article class="flex flex-row shadow-lg mx-auto max-w-4xl group cursor-pointer transform duration-500 hover:scale-105 bg-white rounded-lg overflow-hidden w-full sm:w-80 md:w-96 lg:w-1/4">
            <!-- Imagem do produto -->
            <img class="w-48 h-48 object-cover rounded-l-lg" src="data:image/jpeg;base64,@produto.ImgProdutoBase64" alt="@produto.NomeProduto">

            <!-- Conteúdo do card -->
            <div class="flex flex-col flex-1 p-6 space-y-4">
                <h1 class="text-2xl font-semibold text-gray-800">
                    @produto.NomeProduto
                </h1>
                <p class="text-lg text-gray-500 leading-relaxed">
                    @produto.Descricao
                </p>

                <!-- Informações de Distância e Avaliações -->
                <div class="text-lg text-gray-700 mt-2">
                    <span class="text-gray-900 font-bold">196 km</span> de São Paulo
                </div>

                <!-- Estrelas -->
                <div class="flex items-center mt-2">
                    <div class="flex">
                        <svg class="w-4 h-4 mx-px fill-current text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
                            <path d="M6.43 12l-2.36 1.64a1 1 0 0 1-1.53-1.11l.83-2.75a1 1 0 0 0-.35-1.09L.73 6.96a1 1 0 0 1 .59-1.8l2.87-.06a1 1 0 0 0 .92-.67l.95-2.71a1 1 0 0 1 1.88 0l.95 2.71c.13.4.5.66.92.67l2.87.06a1 1 0 0 1 .59 1.8l-2.3 1.73a1 1 0 0 0-.34 1.09l.83 2.75a1 1 0 0 1-1.53 1.1L7.57 12a1 1 0 0 0-1.14 0z"></path>
                        </svg>
                        <svg class="w-4 h-4 mx-px fill-current text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
                            <path d="M6.43 12l-2.36 1.64a1 1 0 0 1-1.53-1.11l.83-2.75a1 1 0 0 0-.35-1.09L.73 6.96a1 1 0 0 1 .59-1.8l2.87-.06a1 1 0 0 0 .92-.67l.95-2.71a1 1 0 0 1 1.88 0l.95 2.71c.13.4.5.66.92.67l2.87.06a1 1 0 0 1 .59 1.8l-2.3 1.73a1 1 0 0 0-.34 1.09l.83 2.75a1 1 0 0 1-1.53 1.1L7.57 12a1 1 0 0 0-1.14 0z"></path>
                        </svg>
                        <svg class="w-4 h-4 mx-px fill-current text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
                            <path d="M6.43 12l-2.36 1.64a1 1 0 0 1-1.53-1.11l.83-2.75a1 1 0 0 0-.35-1.09L.73 6.96a1 1 0 0 1 .59-1.8l2.87-.06a1 1 0 0 0 .92-.67l.95-2.71a1 1 0 0 1 1.88 0l.95 2.71c.13.4.5.66.92.67l2.87.06a1 1 0 0 1 .59 1.8l-2.3 1.73a1 1 0 0 0-.34 1.09l.83 2.75a1 1 0 0 1-1.53 1.1L7.57 12a1 1 0 0 0-1.14 0z"></path>
                        </svg>
                        <svg class="w-4 h-4 mx-px fill-current text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
                            <path d="M6.43 12l-2.36 1.64a1 1 0 0 1-1.53-1.11l.83-2.75a1 1 0 0 0-.35-1.09L.73 6.96a1 1 0 0 1 .59-1.8l2.87-.06a1 1 0 0 0 .92-.67l.95-2.71a1 1 0 0 1 1.88 0l.95 2.71c.13.4.5.66.92.67l2.87.06a1 1 0 0 1 .59 1.8l-2.3 1.73a1 1 0 0 0-.34 1.09l.83 2.75a1 1 0 0 1-1.53 1.1L7.57 12a1 1 0 0 0-1.14 0z"></path>
                        </svg>
                    </div>
                    <div class="text-gray-600 ml-2 text-sm md:text-base mt-1">
                        16 avaliações
                    </div>
                </div>

                <!-- Botão de Compra -->
                <div class="bg-blue-50 p-3 mt-3">
                    <div class="flex justify-between items-center">
                        <span class="text-gray-900 font-bold text-lg">R$ @produto.Preco</span>
                        <button class="py-2 px-6 bg-green-700 hover:bg-green-600 text-white font-semibold rounded-lg shadow-lg !important">
                            Comprar
                        </button>
                    </div>
                </div>
            </div>
        </article>
        }
    </div>
</section>
