<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Conexão Verde</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true"/>
    @* <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true"/> *@
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
<!-- Header -->
<header>
    <nav class="flex items-center justify-between p-3 bg-green-800">
        <!-- Logo -->
        <div class="flex justify-center">
            <a href="/" class="flex items-center">
                <img src="~/images/logo.png" alt="Logo Home" class="h-20 w-auto">
            </a>
        </div>

        <!-- Botão de menu para dispositivos móveis -->
        <div class="flex md:hidden ml-4">
            <button id="hamburger">
                <img class="toggle block" src="https://img.icons8.com/fluent-systems-regular/2x/menu-squared-2.png" width="40" height="40" alt=""/>
                <img class="toggle hidden" src="https://img.icons8.com/fluent-systems-regular/2x/close-window.png" width="40" height="40" alt=""/>
            </button>
        </div>

        <!-- Links de navegação (centralizados na versão desktop) -->
        <div class="toggle hidden md:flex justify-center flex-grow text-bold mt-5 md:mt-0 md:border-none text-white">
            <a href="/" class="block md:inline-block hover:text-blue-500 px-3 py-3 md:border-none">Home</a>
            <a href="#services" class="block md:inline-block hover:text-blue-500 px-3 py-3 md:border-none">Services</a>
            <a href="#aboutus" class="block md:inline-block hover:text-blue-500 px-3 py-3 md:border-none">About us</a>
            <a href="#contactUs" class="block md:inline-block hover:text-blue-500 px-3 py-3 md:border-none">Visit Us</a>
        </div>

        @if (User.Identity!.IsAuthenticated)
        {
        <div class="relative inline-block">
            <a href="javascript:void(0);" class="flex items-center" id="profileIcon">
                @if (Context.Items["FotoPerfil"] is byte[] fotoPerfil)
                {
                var base64Image = Convert.ToBase64String(fotoPerfil);
                <img src="data:image/png;base64,@base64Image" alt="Profile" class="w-16 h-16 rounded-full"/>
                }
                else
                {
                <img src="~/images/profile_pic.png" alt="Profile" class="w-16 h-16 rounded-full"/>
                }
            </a>

            <!-- Menu Suspenso -->
            <div id="dropdownMenu" class="absolute hidden right-0 mt-2 bg-gray-700 text-white p-4 rounded shadow-lg w-48 z-20">
                <a href="/Usuario/Perfil" class="block px-4 py-2 text-sm">Meu Perfil</a>
                <hr class="my-2 border-t border-gray-600"/>
                <form method="post" asp-controller="Login" asp-action="Logout" class="text-center mt-2">
                    <button type="submit" class="block px-4 py-2 text-sm">Logout</button>
                </form>
            </div>
        </div>
        }
        else
        {
        <!-- Caso o usuário não esteja autenticado -->
        <div class="toggle w-full text-end hidden md:flex md:w-auto px-2 py-2 md:rounded">
            <a href="/Login/Login">
                <div class="flex justify-end items-center h-10 w-auto rounded-md bg-gray-800 text-white font-medium p-2 space-x-2">
                    <i class="fa-solid fa-right-to-bracket text-xl"></i>
                    <span>Entrar</span>
                </div>
            </a>
        </div>
        }
    </nav>
</header>

<!-- Main Content -->
<main class="min-h-screen">
    @RenderBody()
</main>

<!-- Footer -->
<footer class="bg-green-800 text-white py-6">
    <div class="container mx-auto text-center">
        <p>&copy; 2024 Conexão Verde. Todos os Direitos Reservados.</p>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
<script>
    const hamburgerButton = document.getElementById('hamburger');
    const menuItems = document.querySelector('.toggle.hidden');

    hamburgerButton.addEventListener('click', () => {
        menuItems.classList.toggle('hidden');
    });
</script>
<script>
    // Função para alternar a visibilidade do menu
    document.getElementById('profileIcon').addEventListener('click', function(event) {
        event.stopPropagation(); // Previne o clique de se propagar e fechar o dropdown imediatamente
        const dropdown = document.getElementById('dropdownMenu');
        dropdown.classList.toggle('hidden'); // Alterna a classe 'hidden'
    });

    // Fecha o menu caso o clique seja fora do menu ou ícone
    window.addEventListener('click', function(event) {
        const dropdown = document.getElementById('dropdownMenu');
        const profileIcon = document.getElementById('profileIcon');

        // Verifica se o clique foi fora do ícone de perfil e do menu
        if (!profileIcon.contains(event.target) && !dropdown.contains(event.target)) {
            dropdown.classList.add('hidden');
        }
    });
</script>
</body>
</html>